@font-face {
    font-family: "Noto-Regular";
    src: url("fonts/NotoSans-Regular.ttf");
}
@font-face {
    font-family: "Noto-light";
    src: url("fonts/NotoSans-Light.ttf");
}
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

 /*Nord color based : https://www.nordtheme.com/*/
 :root {
    /*theme color*/
    --orange: #d08770;
    --orangelight: #bf616a;
    /*background dark & light*/
    --dark: #2e3440;
    --light: #eceff4;
    /*selected album*/
    --selected : #d086701f;
    /*gradient*/
    --toDark: #3b4252;
    --toLight: #ddbaa9;
    /*player dark & light*/
    --colorPlayerDark : #3b4252;
    --colorPlayerLight : #e5e9f0;
    /*dropdown blured background*/
    --selectedBlurDark : rgba(46, 52, 64, 0.9);
    --selectedBlurLight : rgba(236, 239, 244, 0.9);

    /*Default theme*/
    --bg : var(--dark);
    --navBar : var(--dark);
    --dropdown-bg : var(--selectedBlurDark);
    --input-gradient : linear-gradient(to right, var(--orange), var(--toDark));
    --player-bg : var(--colorPlayerDark);

}

body.light-theme {
    --bg: var(--light);
    --navBar: var(--light);
    --dropdown-bg: var(--selectedBlurLight);
    --input-gradient: linear-gradient(to right, var(--orange), var(--toLight));
    --player-bg: var(--colorPlayerLight);
    
}
body,
nav,
.player{
    transition: background-color 0.3s;
}
/* JS */
.open {
    top: 70px !important;
}
.turn {
    transform: rotate(90deg);
}
/* JS */
body {
    background: var(--bg);
    font-size: 12px;
    font-family: "Noto-Regular";
}
header {
    position: sticky;
    top: 0px;
    z-index: 5;
}
nav {
    width: 100%;
    box-shadow: 0 1px 1px rgb(44 43 45 / 20%);
    background: var(--navBar);
}
nav .navbar {
    position: relative;
    height: 70px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .navbar .userContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navIconsContainer{
    display: flex;
}
nav .user, nav .menu {
    color: var(--orange);
    font-size: 30px;
    cursor: pointer;
}
nav .menu {
    transition: .3s;
}
nav .status {
    color: var(--orange);
    margin-top: 5px;
    text-align: center;
}
.dropdown {
    position: absolute;
    z-index: -1;
    width: 100%;
    margin: auto;
    backdrop-filter: blur(50px);
    background: var(--dropdown-bg);
    list-style: none;
    top: -300px;
    transition: top 0.3s ease, background-color 0.3s ease;
    border-bottom: 3px var(--orange) solid;
}
.dropdown li {
    width: 100%;
    margin: auto;
    padding: 0 5px;
}
.dropdown li a {
    display: block;
    text-decoration: none;
    position: relative;
    color: var(--orange);
    width: 100%;
    padding: 15px 0;
}
.dropdown li a:hover {
    color: var(--orangelight);
}
h1 {
    text-align: center;
    color: var(--white);
}
.welcome {
    text-align: center;
    width: 80%;
    margin: 200px auto;
    color: var(--white);
    font-size: 40px;
}
#register, #connect {
max-width: 80%;
margin: 100px auto;
}
#register label {
    display: block;
    width: 60%;
    margin: auto;
    color: var(--orange);
}
::placeholder {
    color: var(--orange);
}
#connect .input.rem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#connect #remeberMe {
    width: 25px;
    height: 25px;
    margin: unset;
}
#register input, #connect input, #connect .rem {
    display: block;
    background: none;
    color: var(--orange);
    outline: none;
    border: 1px var(--orange) solid;
    border-radius: 5px;
    width: 60%;
    height: 40px;
    margin: 10px auto 10px;
    padding: 5px;
}
#register .input .submit, #connect .input .submit {
    cursor: pointer;
    text-transform: uppercase;
    transition: .5s;
}
#register .input .submit:hover, #connect .input .submit:hover{
    background: var(--orange);
    color: var(--dark);
}
#warning {
    width: 80%;
    height: calc(100vh + -160px);
    margin: auto;
    background: rgb(59, 0, 0);
}
p.warn {
    color: var(--white);
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}
form.warning {
    width: 100%;
    height: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
form.warning input {
    width: 150px;
    height: 80px;
    text-transform: uppercase;
    font-size: 40px;
    outline: none;
    cursor: pointer;
}
form.warning input:first-of-type:hover {
    background: red;
}
form.warning input:hover {
    background: green;
}
.container {
    width: 100%;
    height: calc(100vh + -202px);
    overflow: auto;
}
.list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    align-items: center;
    cursor: pointer;
    color: var(--orange);
}
.list .thumb {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
footer {
    width: 100%;
    height: 50px;
}
@media screen and (max-width: 768px){
    #register, #connect {
        max-width: 90%;
    }
    #register input, #register label, #connect input, #connect .rem  {
        width: 100%;
    }
}
@media screen and (max-width: 425px){
    * {
        font-size: 11px;
    }
    #warning {
        width: 100%;
    }
}
@media screen  and (max-width: 375px){
    ul li {
        width: 90%;
    }
}

