@font-face {
    font-family: "Noto-Regular";
    src: url("fonts/NotoSans-Regular.ttf");
}
@font-face {
    font-family: "Noto-light";
    src: url("fonts/NotoSans-Light.ttf");
}
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto-Regular";
    font-size: 12px;
}
:root {
    --white: #f1f1f1;
    --purple: #BD74AD;
    --purplelight: #F2C4E8;
    --purpledark: #694360;
    --dark: #3A393A;
    --selected: #403f40;
    --selectedBlur : rgba(64, 63, 64, 0.9);
}
/* JS */
.open {
    top: 70px !important;
}
.turn {
    transform: rotate(90deg);
}
.light {
    background: var(--white);
}
.textLight {
    color: var(--purple)!important;
}
.dropdownLight{
    backdrop-filter: blur(10px);
    background: rgba(241, 241, 241, 0.8)!important;
}
/* JS */
body {
    background-color: var(--dark);
}
header {
    position: sticky;
    top: 0px;
    z-index: 5;
}
nav {
    width: 100%;
    box-shadow: 0 1px 1px rgb(44 43 45 / 20%);
    background: var(--dark);
}
nav .navbar {
    position: relative;
    height: 70px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .navbar div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav .user, nav .menu {
    display: block;
    width: 30px;
    cursor: pointer;
    transition: .5s;
}
nav .status {
    color: var(--purple);
    margin-top: 5px;
    text-align: center;
}
.dropdown {
    position: absolute;
    z-index: -1;
    width: 100%;
    margin: auto;
    backdrop-filter: blur(50px);
    background: var(--selectedBlur);
    list-style: none;
    top: -300px;
    transition: .5s;
}
.dropdown li {
    width: 100%;
    margin: auto;
    padding: 0 5px;
}
.dropdown li a {
    display: block;
    text-decoration: none;
    position: relative;
    color: var(--purplelight);
    width: 100%;
    padding: 15px 0;
}
.dropdown li a:hover {
    color: var(--purple);
}
h1 {
    text-align: center;
    color: var(--white);
}
.welcome {
    text-align: center;
    width: 80%;
    margin: 200px auto;
    color: var(--white);
    font-size: 40px;
}
#register, #connect {
max-width: 80%;
margin: 100px auto;
}
#register label {
    display: block;
    width: 60%;
    margin: auto;
    color: var(--purple);
}
::placeholder {
    color: var(--purple);
}
#connect .input.rem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#connect #remeberMe {
    width: 25px;
    height: 25px;
    margin: unset;
}
#register input, #connect input, #connect .rem {
    display: block;
    background: none;
    color: var(--purple);
    outline: none;
    border: 1px var(--purple) solid;
    border-radius: 5px;
    width: 60%;
    height: 40px;
    margin: 10px auto 10px;
    padding: 5px;
}
#register .input .submit, #connect .input .submit {
    cursor: pointer;
    text-transform: uppercase;
    transition: .5s;
}
#register .input .submit:hover, #connect .input .submit:hover{
    background: var(--purple);
    color: var(--dark);
}
#warning {
    width: 80%;
    height: calc(100vh + -160px);
    margin: auto;
    background: rgb(59, 0, 0);
}
p.warn {
    color: var(--white);
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}
form.warning {
    width: 100%;
    height: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
form.warning input {
    width: 150px;
    height: 80px;
    text-transform: uppercase;
    font-size: 40px;
    outline: none;
    cursor: pointer;
}
form.warning input:first-of-type:hover {
    background: red;
}
form.warning input:hover {
    background: green;
}
.container {
    width: 100%;
    height: calc(100vh + -202px);
    overflow: auto;
}
.list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    align-items: center;
    cursor: pointer;
    color: var(--purple);
}
.list .thumb {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
footer {
    width: 100%;
    height: 50px;
}
@media screen and (max-width: 768px){
    #register, #connect {
        max-width: 90%;
    }
    #register input, #register label, #connect input, #connect .rem  {
        width: 100%;
    }
}
@media screen and (max-width: 425px){
    * {
        font-size: 11px;
    }
    .card {
        width: 100%;
        height: 60vh;
    }
    .card > .hover img {
        width: 300px;
    }
    .hover {
        width: 300px;
       height: 300px;
    }
    #warning {
        width: 100%;
    }
}
@media screen  and (max-width: 375px){
    .container {
        width: 100%;
    }
    .card {
        width: 95%;
    }
    .card > .hover img {
        width: 320px;
    }
    .hover {
        width: 320px;
        height: 320px;
    }
    ul li {
        width: 90%;
    }
}
@media screen  and (max-width: 320px){
    .card {
        width: 98%;
    }
    .card > .hover img {
        width: 300px;
    }
    .hover {
        width: 300px;
       height: 300px;
    }
}
